.idea
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
*.log
*.sqlite3
*.db
*.DS_Store
*.vscode
*.env
*.venv
*.ipynb_checkpoints
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.dist-info
*.egg-info/

# directories
workspace/models/
workspace/grobid-0.8.2/
workspace/grobid-0.8.2.zip
ref/