.idea
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
*.log
*.sqlite3
*.db
*.DS_Store
*.vscode
*.env
*.venv
*.ipynb_checkpoints
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.dist-info
*_Zone.Identifier
*.Identifier
*.egg-info/
.github/

# directories

ref
workspace
.github
model_updates
alignment